.wrapper {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1440px;
}
.logout_wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.logout_btn {
  background: -webkit-linear-gradient(rgb(194, 64, 234), rgba(48, 238, 226, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50em;
  margin-top: 15px;
  display: inline-flex;
}
.logout_btn:hover {
  border-color: rgba(194, 64, 234, 0.5);
  box-shadow: 0 0 20px 3px rgba(194, 64, 234, 0.5);
}
